@model HomeIndexViewModel


<table>
    <tr>
        <th>Category</th>
        <th>Item</th>
        <th>Times Found</th>
        <th>Last Found</th>
    </tr>
    @foreach (ItemSummaryVM itemSummary in @Model.ItemSummaries)
    {
        <tr>
            <td>@itemSummary.CategoryName</td>
            <td>@itemSummary.ItemName</td>
            <td>@itemSummary.FindCount</td>
            <td>@itemSummary.LastFind</td>
        </tr>
    }
</table>
<div page-model="@Model.PagingInfo" page-action="Index"></div>

